---
- hosts: all
  become: yes
  become_method: sudo
  tasks:
    - name: install epel, python
      yum:
        name: "{{ item }}"
        disablerepo: RHEL7
      with_items:
        - redhat-lsb-core
        - epel-release
        - python-pip
        - python-devel
        - yum-utils
    - name: add motd
      copy:
        src: motd
        dest: /etc/motd
        owner: root
        group: root
        mode: 0644
    - name: install the 'Development tools' package group
      yum:
        name: "@development"
        state: present
        disablerepo: RHEL7
        update_cache: yes
    - name: install pip
      easy_install: name=pip state=latest
    - name: install python-augeas
      pip:
        name: python-augeas
        extra_args: "--proxy http://proxy.det.nsw.edu.au:80"
